<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%= fontFamilyName %> demo page</title>
		<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/index.css">
		<link rel="stylesheet" type="text/css" href="css/eos-icons.css">
	</head>
	<body>
		<header class='eos-logo-color-gradients'>
		  <div class='container two-columns'>
		    <h1>
				  <img src='images/logo.png'/>
				  <% if (version) { %><small class='version'>version <%= version %></small><% } %>
				</h1>
				<div class='pull-right toolbar'>
				  <span class='text-white'>Try different sizes: </span>
				  <button class='change-size' data-size='18'>18px</button>
					<button class='change-size' data-size='24'>24px</button>
					<button class='change-size' data-size='36'>36px</button>
					<button class='change-size' data-size='48'>48px</button>
				</div>
			</div>
		</header>
		<div class='container icons-container'>
				<div class="extended-version-wrap">
						<a href="extended/index.html">Extended version</a>
						<input class="searchbar" onkeyup="searchIcon()" type="text" name="search" placeholder="Search Icons...">
				</div>
			<div id="icons">
				<% for (var glyphIdx = 0; glyphIdx < glyphs.length; glyphIdx++) {
					var glyph = glyphs[glyphIdx] %>
					<div class="icons__item" data-name="<%= glyph %>">
					  <i class="<%= baseClass %>"><%= glyph %></i>
						<br>
						<%= glyph %>
					</div>
				<% } %>
			</div>
			<div id="icons-animated">

				<h3>Animated icons</h3>
				<div class="icons__item" data-name="loading">
					<i class="eos-icons eos-icon-loading"></i>
					<br/>
					loading
				</div>

				<div class="icons__item" data-name="installing">
					<i class="eos-icons eos-icon-installing md-48" id="eos-icon-installing"></i>
					<br>
					installing
				</div>
			</div>
    </div>

		<div id="how-to-use" class='how-to-use'>
		  <div class='container'>
				<h2 class='text-white'>
					How to use it:
					<small id='close-code-snippet' class='pull-right'>X Close</small>
				</h2>


				<% if (addLigatures) { %>
				<pre><code>&lt;i class=&quot;<%= baseClass %>&quot;&gt;<span id="name2">icon_name</span>&lt;/i&gt;</code></pre>
				<% } %>
			</div>
		</div>

		<div id="how-to-use" class='how-to-use-animated'>
		  <div class='container'>
				<h2 class='text-white'>
					How to use it:
					<small id='close-code-snippet-animated' class='pull-right'>X Close</small>
				</h2>

				<div id='animatedIconDemo'></div>
			</div>
		</div>
		<footer>
			<div class='container'>
			  Download from gitlab at <a href="https://gitlab.com/SUSE-UIUX/eos-icons">EOS icons</a>.
			  Thanks to <a href="https://github.com/sapegin/grunt-webfont">grunt-webfont</a>.
			</div>
		</footer>

		<script>
		(function() {
			var showCodeSnippet = false
			var iconName

			//hide code snippet by default
			document.getElementsByClassName('how-to-use')[0].style.visibility = 'hidden'
			document.getElementsByClassName('how-to-use-animated')[0].style.visibility = 'hidden'

			document.getElementById('icons').onclick = function(e) {
				e = e || window.event;
				iconName = e.target.getAttribute('data-name') || e.target.parentNode.getAttribute('data-name');
				document.getElementById('name2').innerHTML = iconName;

				if (iconName) {
					showCodeSnippet = true
					console.log('something selected')
					document.getElementsByClassName('how-to-use')[0].style.visibility = 'visible'
					document.getElementsByClassName('how-to-use-animated')[0].style.visibility = 'hidden'
				}
			}

			document.getElementById('icons-animated').onclick = function(e) {
				e = e || window.event;
				iconName = e.target.getAttribute('data-name') || e.target.parentNode.getAttribute('data-name');
				iconDemo = '<pre><code>&lt;i class=&quoteos-icons eos-icon-' + iconName + '&quot;&gt;' + '&lt;/i&gt;</code></pre>';
				document.getElementById('animatedIconDemo').innerHTML = iconDemo;
				if (iconName) {
					showCodeSnippet = true
					console.log(iconName)
					document.getElementsByClassName('how-to-use-animated')[0].style.visibility = 'visible'
				}
			}

			document.getElementById('close-code-snippet').onclick = function(e) {
				showCodeSnippet = false
				iconName = ''
				document.getElementsByClassName('how-to-use')[0].style.visibility = 'hidden'
				document.getElementsByClassName('how-to-use-animated')[0].style.visibility = 'hidden'
			}

			document.getElementById('close-code-snippet-animated').onclick = function(e) {
				showCodeSnippet = false
				iconName = ''
				document.getElementsByClassName('how-to-use-animated')[0].style.visibility = 'hidden'
				document.getElementsByClassName('how-to-use')[0].style.visibility = 'hidden'
			}

			var buttonsSizes = document.getElementsByClassName('change-size')
			for (i = 0; i < buttonsSizes.length; i++) {
		    buttonsSizes[i].onclick = function(e) {
					e = e || window.event;
					iconSize = e.target.getAttribute('data-size')
					iconClass = 'md-' + iconSize
	        for (i = 0; i < document.getElementsByClassName('eos-icons').length; i++) {
					  document.getElementsByClassName('eos-icons')[i].style.fontSize = iconSize + 'px';
						document.getElementById('eos-icon-installing').className = 'eos-icons eos-icon-installing ' + iconClass;
					}
		    };
			}

		})();
		function searchIcon(){
			input=document.getElementsByClassName('searchbar')[0].value;
			var x=document.getElementsByClassName('icons__item');
			for (i = 0; i < x.length; i++) { 
 			 if (!(x[i].getElementsByClassName('eos-icons')[0].innerHTML.includes(input))) {
 			 	x[i].style.display="none";

 			 }
			
 			 else{
				x[i].style.display="inline-block"; 			 	
 			 }

				}

		}
		</script>
	</body>
</html>
